#parent{
  width: 67%;
  margin:auto;
}
#recipe {
  background-image: url("images/list-bg.png");
  background-size: cover;;
  height: 200px;
  background-repeat: no-repeat;
}
label{
  display:block;
  font-family: 'Patrick Hand', cursive;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo{
  float:left;
}
hr.slanty_lines{
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  clear:both;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size: bold;
  margin-top: 34px;
  margin-bottom: 0px;
}
h2{
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}
h4{
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.motto{
  font-family: 'Abel', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  /*font-size: 7px;*/
}

p{
  font-family: Georgia;
}
#text{
  text-indent: 20px;
}
.printer{
  float: right;
}
#simple{
  height: .5px;
  background: lightgray;
}
#column1, #column2{
  width: 40%;
  float: left;
  padding-top: 20px;
  padding-left: 5px;
  margin: auto;
}

#byline > div{
  display: inline-block;
}
button{
  background-color: #BC7058;
  border: none;
  padding: 20px;
  font-size: 18px;
  color: white;
  float: right;
  margin-left: 122px;
  /*margin-top: 30px;*/
}
#middle{
  width: 60%;
  margin-left: 10px;
}
footer{
  text-align: center;
  color: gray;
  font-size: 12px;
}
#smallIcon{
  position: relative;
  top: -25px;
}
#delicious{
  display: inline-block;
}
.top{
  font-size: 10px;
}
.center{
  padding-top: 15px;
}
