#leftImage{
  background-image: url("img/beardBeanie.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#rightImage{
  background-image: url("img/boyfriendPillow.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#centerImage{
  background-image: url("img/cornerFrame.jpg");
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}
#parent{
  background-color: green;
  width: 960px;
  margin: auto;
}
.container{ /*This holds the three images*/
  display: flex;
  flex-flow: row;
  flow-direction: row;
  justify-content: space-around;
}
.child{
  width:50%
  margin: auto;
  display: inline-flex;
}
.images{
  flex-grow: 1;
}
h1{
  text-align: center;
  color: white;
}
button{
  visibility: hidden;
  /*hide all buttons, but you'll change it so voteMore is visible*/
}
#visual{
  visibility: hidden;
  background-color: white;
}
#newRound{
  visibility: hidden;
}

td{
  background-color: purple;
  width: 5px;
}
