#leftImage{

}

#rightImage{

}

#parent{
  background-color: green;
  width: 960px;
  margin: auto;
}
.container{ /*This holds the two images*/
  display: flex;
  flex-flow: row;
  flow-direction: row;
  justify-content: space-around;
}
.child{
  width:50%
  margin: auto;
  display: inline-flex;
}
.images{
  flex-grow: 1;
}
h1{
  text-align: center;
  color: white;
}
